 
@model InteriorMobilya.WebUI.Entities.CustomIdentityUser

<ul class="nav navbar-nav navbar-right">
    <li><a href="/hesabim">@Model.UserName</a></li>
    <li><a href="/cikis">Çıkış Yap</a></li>
</ul>

