@model InteriorMobilya.WebUI.Models.AccountAdressViewModel
@{
    ViewData["Title"] = "Adres Ekle";
    Layout = "~/Views/Shared/_LayoutProfil.cshtml";
}

<h2>Adresim</h2>
<form method="post">
    <div class="col-md-12">
        <div class="form-group">
            <label>Adres Tanım</label>
            <input asp-for="AdressTitle" class="form-control" />
            <span asp-validation-for="AdressTitle"></span>
        </div>
    </div>
    <div class="col-md-6">

        <div class="form-group">
            <label>Ad Soyad</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label>Ülke</label>
             <select id="Country" asp-items="@(new SelectList(ViewBag.Country,"Value","Text"))" class="form-control"></select>
        </div>
       
    </div>
    <div class="col-md-6">

        <div class="form-group">
            <label>Telefon</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone"></span>
        </div>
        <div class="form-group">
            <label>Şehir</label>
            <select id="City" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"Value","Text"))" class="form-control"></select>
            <span asp-validation-for="CityID"></span>
        </div>
    </div>
    <div  class="col-md-12">
        <div class="form-group">
            <label>Adres</label>
            <input asp-for="AdressDescription" class="form-control" />
            <span asp-validation-for="AdressDescription"></span>
        </div>
    </div>
    <div class="col-lg-12" style="float:right">
        <input type="submit" class="btn btn-primary " value="Adresi Güncelle" />
    </div>
</form>
